
#convertkitModal.modal.fade(tabindex='-1', aria-labelledby='convertkitModalLabel', aria-hidden='true')
    .modal-dialog.modal-dialog-centered
        .modal-content
            .modal-header.bg-gradient-primary-to-secondary.p-4
                h5#generickModalLabel.modal-title.font-alt.text-white #{$i18n.modal.title}
                button.btn-close.btn-close-white(type='button' data-bs-dismiss='modal', aria-label='Close')
            .modal-body.border-1.p-1
            form(
                action="https://sealf.us21.list-manage.com/subscribe/post?u=716e8fcfd71b495b7e4af1e92&amp;id=b40b67347a&amp;v_id=213&amp;f_id=009af2e6f0"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self" novalidate=""
                min-width='400 500 600 700 800' style='border-radius: 0px;')
              .form-floating.border-1.p-1(style="height:auto;")
                label(for='email_address') #{$i18n.modal.mail.title}
                .invalid-feedback(data-sb-feedback='email:required')
                    | #{$i18n.modal.mail.feedback}
                .invalid-feedback(data-sb-feedback='email:email')
                    |  #{$i18n.modal.mail.error}
                input#email.form-control(type='email',  placeholder='name@email.com' required='true' name='email_address' style="height:80px;"
                    data-sb-validations='required,email' )
              .d-grid.border-2.p-1
                  button.btn.btn-primary.rounded-pill.btn-lg(type="submit", name="subscribe", id="mc-embedded-subscribe", value="Subscribe") #{$i18n.modal.sendbutton}
//                 button#submitButton.btn.btn-primary.rounded-pill.btn-lg.disabled(type='submit', , name="asdf") Submit
//                 <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">

