// Expanded Footer with Black Pattern Background
footer.footer-expanded.bg-black
  .footer-pattern
    .container.px-5.py-5
      .row.g-5
        
        // Product Links
        .col-md-6.col-lg-3
          .footer-section
            h5.text-white.mb-4 #{$i18n.footer.navigation.product.title}
            ul.footer-links.list-unstyled
              li.mb-2
                a.text-white-50(href=`/${$localeName}/`) #{$i18n.footer.navigation.product.links.overview}
              li.mb-2
                a.text-white-50(href=`/${$localeName}/documentation.html`) #{$i18n.footer.navigation.product.links.howItWorks}
              li.mb-2
                a.text-white-50(href=`/${$localeName}/pricing.html`) #{$i18n.footer.navigation.product.links.pricing}
              li.mb-2
                a.text-white-50(href=`/${$localeName}/challenge.html`) #{$i18n.footer.navigation.product.links.challenge}
        
        // Company Links
        .col-md-6.col-lg-3
          .footer-section
            h5.text-white.mb-4 #{$i18n.footer.navigation.company.title}
            ul.footer-links.list-unstyled
              li.mb-2
                a.text-white-50(href="https://inkan.link") #{$i18n.footer.navigation.company.links.about}
              li.mb-2
                a.text-white-50(href=`https://inkan.link/${$localeName == 'en' ? 'en/' : ''}categories/news/`, target='_blank', rel='noopener') #{$i18n.footer.navigation.company.links.press}
              li.mb-2
                if $localeName == "fr"
                  a.text-white-50(href="https://inkan.link/posts/blog-fraude-au-pdg-5milliards-an/") #{$i18n.footer.navigation.company.links.blog}
                else
                  a.text-white-50(href="https://inkan.link/en/posts/blog-bec-5billions-annum-scam/") #{$i18n.footer.navigation.company.links.blog}
              li.mb-2
                a.text-white-50(href="mailto:contact@sealf.ie") #{$i18n.footer.navigation.company.links.contact}
        
        // Support Links
        .col-md-6.col-lg-3
          .footer-section
            h5.text-white.mb-4 #{$i18n.footer.navigation.support.title}
            ul.footer-links.list-unstyled
              li.mb-2
                a.text-white-50(href=`/${$localeName}/support.html`) #{$i18n.footer.navigation.support.links.help}
              li.mb-2
                a.text-white-50(href=`/${$localeName}/documentation.html`) #{$i18n.footer.navigation.support.links.documentation}
              li.mb-2
                a.text-white-50(href=`/${$localeName}/privacy-ios.html`) #{$i18n.footer.navigation.support.links.privacy}
              li.mb-2
                a.text-white-50(href=`/${$localeName}/terms.html`) #{$i18n.footer.navigation.support.links.terms}
        
        // Connect & Download
        .col-md-6.col-lg-3
          .footer-section
            h5.text-white.mb-4 #{$i18n.footer.download.title}
            p.text-white-50.small.mb-3 #{$i18n.footer.download.subtitle}
            
            // App Download Links
            .app-downloads.mb-4
              a.d-inline-block.me-2.mb-2(href='https://apps.apple.com/app/id1635309517' target="_blank" rel="noopener noreferrer")
                img.app-badge-small(src='/assets/img/app-store-badge.svg' alt='Download on App Store' style="height: 32px;")
              a.d-inline-block.mb-2(href='https://play.google.com/store/apps/details?id=link.inkan.sealfie' target="_blank" rel="noopener noreferrer")
                img.app-badge-small(src='/assets/img/google-play-badge.svg' alt='Get it on Google Play' style="height: 32px;")
            
            // Connect Links
            h6.text-white.small.mb-3 #{$i18n.footer.navigation.connect.title}
            ul.footer-links.list-unstyled
              li.mb-2
                a.text-white-50(href="http://eepurl.com/ix1tjg" target="_blank" rel="noopener noreferrer") #{$i18n.footer.navigation.connect.links.newsletter}
              li.mb-2
                a.text-white-50(href="https://www.linkedin.com/company/inkan-link" target="_blank" rel="noopener noreferrer") #{$i18n.footer.navigation.connect.links.linkedin}
      
      // Footer Bottom
      .footer-bottom.border-top.border-secondary.pt-4.mt-5
        .row.align-items-center
          .col-md-8
            .text-white-50.small
              | #{$i18n.footer.legal.copyright}
              span.mx-2 &middot;
              a.text-white-50(href=`/${$localeName}/privacy-ios.html`) Privacy
              span.mx-2 &middot;
              a.text-white-50(href=`/${$localeName}/terms.html`) Terms
          .col-md-4.text-md-end
            .text-white-50.small
              if $localeName == "fr"
                a(href='https://inkan.link/posts/blog-fraude-au-pdg-5milliards-an/') #{$i18n.footer.legal.sources}
              else
                a(href='https://inkan.link/en/posts/blog-bec-5billions-annum-scam/') #{$i18n.footer.legal.sources}
