doctype html
html(lang=$localeName)

  head
    //- Common headers shared across all pages
    include includes/common-headers.pug
    
    //- Page-specific meta tags
    title #{$i18n.docs.title}
    meta(name='description', content=$i18n.meta.descriptions.documentation)
    
    //- Page-specific canonical link
    link(rel='canonical', href='https://sealf.ie/'+$localeName+'/documentation.html')
    script(id="mcjs")
        include ../js/mailchimp-popup.js


    include ../pug/includes/navbar.pug

    // Doc Title
    aside.text-center.bg-gradient-primary-to-secondary
      .container.px-5
        .row.gx-5.justify-content-center
          .col-l-8
            .h3.fs-1.text-white.mb-4 #{$i18n.docs.title}
            img(src='/assets/favicon.svg', alt='...', style='height: 6rem;', href='https://inkan.link')
          .col-l-18
            .h3.fs-2.text-white.mb-4
          .col-l-18
            .h3.fs-2.text-white.mb-4 #{$i18n.docs.subtitle}
    // Mashead header
    header.masthead
      .container.px-5
        .row.gx-5.align-items-center
          .col-lg-6.mb-5.mb-lg-0
            .container-fluid.px-5
              .row.gx-5
                .col-md-6.mb-5
                  // Feature item list is at: https://icons.getbootstrap.com/
                  .text-center
                    i.bi-1-square.icon-feature.text-gradient.d-block.mb-3
                    p.text-muted.mb-0 #{$i18n.docs.stepstart.one}
                .col-md-6.mb-5
                  // Feature item
                  .text-center
                    i.bi-2-square.icon-feature.text-gradient.d-block.mb-3
                    p.text-muted.mb-0 #{$i18n.docs.stepstart.two}
              .row
                .col-md-6.mb-5.mb-md-0
                  // Feature item
                  .text-center
                    i.bi-3-square.icon-feature.text-gradient.d-block.mb-3
                    p.text-muted.mb-0 #{$i18n.docs.stepstart.tree}
                .col-md-6
                  // Feature item
                  .text-center
                    i.bi-fingerprint.icon-feature.text-gradient.d-block.mb-3
                    p.text-muted.mb-0 #{$i18n.docs.stepstart.biometric}
          .col-lg-6
            // Masthead device mockup feature
            .masthead-device-mockup
              include includes/gradient-circle
              include includes/shape-1
              include includes/shape-2
              .device-wrapper
                .device(data-device='iPhoneX', data-orientation='portrait', data-color='black')
                  .screen.bg-black

                    // PUT CONTENTS HERE:
                    // * * This can be a video, image, or just about anything else.
                    // * * Set the max width of your media to 100% and the height to
                    // * * 100% like the demo example below.
                    video(muted='muted', autoplay='', loop='', style='max-width: 100%; height: 100%;')
                      source(src="/assets/img/"+$i18n.docs.stepstart.video, type='video/webm')

    // Doc separation
    aside.text-center.bg-gradient-primary-to-secondary
      .container.px-5
        .row.gx-5.justify-content-center
          .col-l-18
            .h3.fs-2.text-white.mb-4 #{$i18n.docs.intersteps}


    // App features section
    section#validate
      .container.px-5
        .row.gx-5.align-items-center
          .col-lg-8.order-lg-1.mb-5.mb-lg-0
            .container-fluid.px-5
              .row.gx-5
                .col-md-6.mb-5
                  // Feature item list is at: https://icons.getbootstrap.com/
                  .text-center
                    i.bi-1-circle.icon-feature.text-gradient.d-block.mb-3
                    p.text-muted.mb-0 #{$i18n.docs.stepvalidate.one}
                .col-md-6.mb-5
                  // Feature item
                  .text-center
                    i.bi-2-circle.icon-feature.text-gradient.d-block.mb-3
                    p.text-muted.mb-0 #{$i18n.docs.stepvalidate.two}
              .row
                .col-md-6.mb-5.mb-md-0
                  // Feature item
                  .text-center
                    i.bi-3-circle.icon-feature.text-gradient.d-block.mb-3
                    p.text-muted.mb-0 #{$i18n.docs.stepvalidate.tree}
                .col-md-6
                  // Feature item
                  .text-center
                    i.bi-fingerprint.icon-feature.text-gradient.d-block.mb-3
                    p.text-muted.mb-0 #{$i18n.docs.stepvalidate.biometric}
          .col-lg-4.order-lg-0
            // Features section device mockup
            .features-device-mockup
              include includes/gradient-circle
              include includes/shape-1
              include includes/shape-2
              .device-wrapper
                .device(data-device='iPhoneX', data-orientation='portrait', data-color='black')
                  .screen.bg-black
                    // PUT CONTENTS HERE:
                    // * * This can be a video, image, or just about anything else.
                    // * * Set the max width of your media to 100% and the height to
                    // * * 100% like the demo example below.
                    video(muted='muted', autoplay='', loop='', style='max-width: 100%; height: 100%;')
                      source(src='/assets/img/'+ $i18n.docs.stepvalidate.video , type='video/webm')


    // Completed
    section#download.bg-gradient-primary-to-secondary
      .container.px-5
        h2.text-center.text-white.font-alt.mb-4 #{$i18n.docs.completed}

    // Call to action section
    section.cta
      .cta-content
        .container.px-5
         h2.text-white.display-1.lh-1.mb-4
            | #{$i18n.contactus.main}
            br
            |#{$i18n.contactus.custom}
         a.btn.btn-outline-light.button.py-3.px-4.rounded-pill(href="mailto:contact@sealf.ie") #{$i18n.action.linktext}


    // Footer
    footer.bg-black.text-center.py-5
      .container.px-5
        .text-white-50.small
          .mb-2 &copy; 2022 Inkan.link . All Rights Reserved.
          a(href='privacy-ios.html') Privacy
          span.mx-1 &middot;
          a(href='#!') Terms
          span.mx-1 &middot;
          a(href='https://www.allianz-trade.fr/actualites/etude-fraude-2021.html') [1] Etude Allianz

    // Bootstrap core JS
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js')

    // Core theme JS
    script(src='/js/scripts.js')
