doctype html
html(lang=$localeName)

  head
    //- Common headers shared across all pages
    include includes/common-headers.pug
    
    //- Page-specific meta tags
    title #{$i18n.banner.pricing} | #{$i18n.title}
    meta(name='description', content=$i18n.meta.descriptions.pricing)
    
    //- Page-specific canonical link
    link(rel='canonical', href='https://sealf.ie/'+$localeName+'/'+'pricing.html')
    script(id="mcjs")
        include ../js/mailchimp-popup.js

    include ../pug/includes/navbar.pug

    // Pricing overview section
    section.pricing-overview-section
      .container.px-5
        .row.justify-content-center
          .col-lg-10
            .text-center.mb-5
              h2.section-title
                span #{$i18n.pricing.overview.title}
              p.section-subtitle #{$i18n.pricing.overview.subtitle}
            
            .pricing-grid
              // Simplified process pricing card
              .pricing-card.pricing-card-featured
                .pricing-card-header
                  .pricing-icon
                    i.bi-lightning-charge
                  h3.pricing-card-title #{$i18n.pricing.simple.title}
                  p.pricing-card-subtitle #{$i18n.pricing.simple.subtitle}
                  .pricing-amount
                    span.pricing-currency $
                    span.pricing-value 195
                    span.pricing-period #{$i18n.pricing.simple.period}
                
                .pricing-card-features
                  ul.pricing-features-list
                    li
                      i.bi-check-circle-fill
                      span #{$i18n.pricing.simple.features.process}
                    li
                      i.bi-check-circle-fill
                      span #{$i18n.pricing.simple.features.phone_validation}
                    li
                      i.bi-check-circle-fill
                      span #{$i18n.pricing.simple.features.validations}
                    li
                      i.bi-check-circle-fill
                      span #{$i18n.pricing.simple.features.support}
                    li
                      i.bi-check-circle-fill
                      span #{$i18n.pricing.simple.features.deployment}
                
                .pricing-card-footer
                  a.cta-primary-large(href="mailto:contact@sealf.ie" aria-label=$i18n.pricing.simple.cta)
                    | #{$i18n.pricing.simple.cta}
              
              // Enterprise/tailored pricing card
              .pricing-card.pricing-card-enterprise
                .pricing-card-header
                  .pricing-icon
                    i.bi-gear-wide-connected
                  h3.pricing-card-title #{$i18n.pricing.enterprise.title}
                  p.pricing-card-subtitle #{$i18n.pricing.enterprise.subtitle}
                  .pricing-amount
                    span.pricing-text #{$i18n.pricing.enterprise.price_text}
                
                .pricing-card-features
                  ul.pricing-features-list
                    li
                      i.bi-check-circle-fill
                      span #{$i18n.pricing.enterprise.features.tailored_process}
                    li
                      i.bi-check-circle-fill
                      span #{$i18n.pricing.enterprise.features.multiple_validators}
                    li
                      i.bi-check-circle-fill
                      span #{$i18n.pricing.enterprise.features.it_integration}
                    li
                      i.bi-check-circle-fill
                      span #{$i18n.pricing.enterprise.features.seamless_expansion}
                    li
                      i.bi-check-circle-fill
                      span #{$i18n.pricing.enterprise.features.priority_support}
                
                .pricing-card-footer
                  a.cta-secondary(href="mailto:contact@sealf.ie" aria-label=$i18n.pricing.enterprise.cta)
                    | #{$i18n.pricing.enterprise.cta}

    // Additional features section
    section.pricing-features-section
      .container.px-5
        .row.justify-content-center
          .col-lg-10
            .text-center.mb-5
              h2.section-title
                span #{$i18n.pricing.features.title}
              p.section-subtitle #{$i18n.pricing.features.subtitle}
            
            .row.g-4
              .col-md-6.col-lg-4
                .feature-card
                  .feature-icon
                    i.bi-calendar4-range
                  h4.feature-title #{$i18n.pricing.period.title}
                  p.feature-description #{$i18n.pricing.period.text}
              
              .col-md-6.col-lg-4
                .feature-card
                  .feature-icon
                    i.bi-headset
                  h4.feature-title #{$i18n.pricing.support.title}
                  p.feature-description #{$i18n.pricing.support.text}
              
              .col-md-6.col-lg-4
                .feature-card
                  .feature-icon
                    i.bi-diagram-3
                  h4.feature-title #{$i18n.pricing.onboard.title}
                  p.feature-description #{$i18n.pricing.onboard.text}





    // Call to action section
    section.cta
      .cta-content
        .container.px-5
         h2.text-white.display-1.lh-1.mb-4
            | #{$i18n.contactus.main}
            br
            |#{$i18n.contactus.custom}
         a.btn.btn-outline-light.button.py-3.px-4.rounded-pill(href="mailto:contact@sealf.ie") #{$i18n.action.linktext}


    // App badge section
    section#download.bg-gradient-primary-to-secondary
      .container.px-5
        h2.text-center.text-white.font-alt.mb-4 #{$i18n.appstore.download}
        .d-flex.flex-column.flex-lg-row.align-items-center.justify-content-center
          a.me-lg-3.mb-4.mb-lg-0(href='https://play.google.com/store/apps/details?id=link.inkan.sealfie')
            img.app-badge(src='/assets/img/google-play-badge.svg', alt='...')
          a(href='https://apps.apple.com/app/id1635309517')
            img.app-badge(src='/assets/img/app-store-badge.svg', alt='...')

    include ../pug/includes/footer.pug


    // Common scripts (Bootstrap, Core theme, Language detection)
    include includes/common-scripts.pug
